# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints (if you ever use)
.ipynb_checkpoints/